/* Fonts */

$ff-public-sans:           "Public Sans", "Arial", sans-serif;
$ff-libre-baskerville:     "Libre Baskerville", "Arial", sans-serif;

$fz-default:                15px;
$fh-default:                24px;

/* Colors palette */

$color-white:               #ffffff;
$color-white-op06:          rgba(255, 255, 255, 0.6); /* hex #ffffff opacity 60% */
$color-snow:                #fafafa;
$color-white-smoke:         #f5f5f5;
$color-hint-of-red:         #edeceb;
$color-zircon:              #e5ecec;
$color-cyprus:              #003331;
$color-sherpa-blue:         #014c48;
$color-cello-op08:          rgba(53, 83, 98, 0.8); /* hex #355362 opacity 80% */
$color-cyprus-other:        #00413E;
$color-cello-op06:          rgba(53, 83, 98, 0.6); /* hex #355362 opacity 60% */
$color-submarine:           #7d9798;
$color-mosque:              #00665f;

/* Background colors palette */

$color-bg-azure:            #f7f8f8;
$color-bg-azure-other:      #f4f5f5;
$color-bg-dark-green:       #001414;
$color-bg-dark-green-other: #001f1f;
$color-bg-dark-green-other1:#000f0f;
