doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Recidiviz
    link(rel="stylesheet" href="css/style.min.css")
    link(rel="preload", href="fonts/PublicSans-Regular.woff2", as="font", type="font/woff2", crossorigin)
    link(rel="preload", href="fonts/PublicSans-Regular.woff", as="font", type="font/woff", crossorigin)
    link(rel="preload", href="fonts/LibreBaskerville-Regular.woff2", as="font", type="font/woff2", crossorigin)
    link(rel="preload", href="fonts/LibreBaskerville-Regular.woff", as="font", type="font/woff", crossorigin)
  body 
    include ../blocks/header/header
    main 
     .container
        h1 Welcome to our website
        p This is a sample document generated using Pug.js and Sass.

    include ../blocks/footer/footer
    script(src="js/main.js")